<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Boilerplate Test Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>./tests/DuskTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_KEY" value="base64:FjpP0GCYX5+IVNZ3E8kaEOGvaK5hR8kXK8k58p8JHPY="/>
    </php>
</phpunit>